@media (max-width: 992px) {
    .navbar .btn {
        transform: none;
        margin: 10px 0 10px -15px;
    }
    .curve__img {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .company__text,
    .capabilities__text,
    .hero .section__title {
        font-size: 36px;
    }
    /*.hero__btn .text-left,*/
    /*.hero__btn .text-right {*/
        /*text-align: center;*/
    /*}*/
    .hero__btn .btn {
       display: inline-block;
    }
    .hero__btn .btn,
    .use .btn.btn-blue,
    .form .form-group,
    .connect .section__title {
        font-size: 16px;
    }
    section .item__title,
    section .section__title,
    .parameters__title,
    .card__title {
        font-size: 14px;
    }
    .use .btn,
    #agree + label {
        font-size:  12px;
    }
    .features__text {
        padding-left: 0;
        padding-right: 0;
    }
    section .features__text,
    section .curve__text,
    section .curve__description {
        font-size: 11px;
    }
    section .item__text,
    .parameters__table,
    .card__text {
        font-size: 10px;
    }
    .parameters__title {
        margin-bottom: 20px;
    }
    .form {
        padding: 0 30px;
    }
    footer {
        padding: 0 0 20px 0;
        background-color: #396185;
        text-align: center;
    }
    .footer__copyright {
        padding: 0 10px;
        font-size: 10px;
    }
    .footer__copyright p {
        margin: 0;
        margin-bottom: 5px;
    }
    /***BURGER MENU****/
    header {
        background-color: #396185;
    }
    .header a {
        color: white;
    }
    .navbar__item {
        display: block;
        padding-left: 0;
        text-decoration: none;
        text-transform: uppercase;
        border-top: 3px solid white ;
    }
    .logo.visible-xs {
        margin-bottom: 20px;
    }

    .dropdown-toggle {
        position: relative;
    }
    .dropdown-toggle::after {
        display: block;
        content: url("../img/arrow-down.png");

        position: absolute;
        right: 0;
        top: 25%;

        transition: 0.4s;
    }

    .dropdown.open .dropdown-toggle::after {
        content: url("../img/arrow-down-active.png");
        transform: rotate(180deg);

        transition: 0.4s;
    }
    .dropdown-menu {
        position: static;
        width: 100%;
        background-color: #396185;
        color: white;
        font-size: 18px;
    }
    .dropdown-menu li a {
        color: white;

    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: inherit;
        border-color: inherit;
    }
    .navbar-toggle {
        margin: 0;
        position: absolute;
        top: -80px;
        right: 0;
    }
    .nav.navbar-nav {
        padding-right: 0;
    }
    .navbar-collapse {
        padding: 0 0 0 15px;
        box-shadow: none;
        border: none;
    }

}
@media (max-width: 500px) {
    .hero__btn .btn {
        padding-right: 20px;
        padding-left: 20px;
    }
    /*.features__item.col-xs-6 {*/
        /*width: 100%;*/
    /*}*/
    .features__item .img-rotate {
        padding: 25%;
    }
    .features__item img {
        display: inline-block;
        width: 47%;
        height: auto;
    }
}
@media (max-width: 400px) {
    .hero__btn .btn {
        padding-right: 10px;
        padding-left: 10px;
    }
    .company__text,
    .capabilities__text,
    .hero .section__title {
        font-size: 28px;
    }
    .features__item {
        margin-bottom: 20px;
        word-break: break-all;
    }
    .features .item__title {
        padding-top: 0;
    }
    .footer__copyright {
        font-size: 8px;
    }

}
